# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/

# model
train_checkpoints/*
checkpoints/*
checkpoints
depth_output
save_checkpoints

*.pth
*.swp

tmp/**